body {
  background-image: url("bg-img.jpg");
  background-size: cover;
  height: 100vh;
}

.col--con {
  background: rgba(255, 255, 255, 0.6196078431372549);
  border-radius: 8px;
  padding: 0 3em;
}
.text {
  font-size: 17px;
}
.row {
  width: 100%;
}
.mb-3,
.my-3 {
  margin-bottom: 6rem !important;
}
.mi-quiz__question-container {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.mi-quiz__question-container td {
  display: block;
  border-bottom: 1px solid #c5c4c8;
  padding: 19px;
  text-align: left;
  font-size: 12px;
}

@media screen and (min-width: 769px) {
  .mi-quiz__question-container td {
    display: table-cell;
    border-width: 0;
    text-align: center;
    font-size: 15px;
    width: 12.5%;
  }
}

.mi-quiz__question-container input + label {
  font-family: Gotham SSm A, Gotham SSm B, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  width: 90%;
}

@media screen and (min-width: 769px) {
  .mi-quiz__question-container input + label {
    display: none;
  }
}

.mi-quiz__question-container:nth-child(2n) {
  /* background-color: #eee; */
}

.mi-quiz__question-container .mi-quiz__question {
  font-family: Gotham SSm A, Gotham SSm B, Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

@media screen and (min-width: 769px) {
  .mi-quiz__question-container .mi-quiz__question {
    font-family: Gotham SSm A, Gotham SSm B, Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    width: 50%;
  }
}

.mi-quiz__error-label {
  display: none;
}

.mi-quiz__error-label--visible {
  display: block;
  color: #d70000;
}

.mi-quiz__buttons {
  margin-top: 24px;
}

.mi-quiz__buttons button {
  display: inline-block;
}

.mi-quiz__buttons button:first-child {
  margin-right: 24px;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background: #2184be;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
  background: #eee;
  color: #aaa;
}

.wizard > .actions > ul {
  display: inline-block;
  text-align: right;
  position: relative;
  top: -64px;
  right: 15px;
}

.wizard > .actions > ul > li {
  margin: 0 0.5em;
}

.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}

.wizard > .content > .body label {
  /* display: inline-block;*/
  margin-bottom: 0.5em;
}

.wizard > .content > .body input {
  display: block;
  border: 1px solid #ccc;
}

.wizard > .content > .body {
  float: left;
  position: absolute;
  width: 100%;
  /* height: 86%; */
  padding: 2.5%;
  /* background: white; */
}

th {
  /* text-align: center; */
  font-size: 12px;
}

.wizard > .content {
  background: #fffffff2;
  display: block;
  margin: 0.5em;
  min-height: 40em;
  overflow: hidden;
  position: relative;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
  float: left;
}

.wizard > .content > .title,
.tabcontrol > .content > .title {
  position: absolute;
  left: -999em;
}

.wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
}

.wizard,
.tabcontrol {
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard a,
.tabcontrol a {
  outline: 0;
}

.wizard ul,
.tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
  display: none;
}

.wizard ul > li,
.tabcontrol ul > li {
  display: block;
  padding: 0;
}

ol,
ul {
  margin: 0 0 1em 2em;
}

ol > li,
ul > li {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 6em;
}

html {
  font-size: 100%;
}

a {
  color: #2184be;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h3 {
  font-size: 24.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

a {
  color: #08c;
  text-decoration: none;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

section#example-basic-p-0 {
  border-top: 6px solid #f7b716;
}
section#example-basic-p-1 {
  border-top: 6px solid #de1d1f;
}
section#example-basic-p-2 {
  border-top: 6px solid #349e37;
}
section#example-basic-p-3 {
  border-top: 6px solid #375ca4;
}
section#example-basic-p-4 {
  border-top: 6px solid #e3a8ae;
}
section#example-basic-p-5 {
  border-top: 6px solid #8dba75;
}
section#example-basic-p-6 {
  border-top: 6px solid #f6d56a;
}
section#example-basic-p-7 {
  border-top: 6px solid #00bcd4;
}
.calc.required {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}
.calc.required:checked::before {
  position: absolute;
  font: 13px/1 "Open Sans", sans-serif;
  left: 6px;
  top: 2px;
  content: "\02143";
  transform: rotate(40deg);
}
.calc.required:hover {
  background-color: #f7f7f7;
}
.calc.required:checked {
  background-color: #f1f1f1;
}
label {
  font: 300 16px/1.7 "Open Sans", sans-serif;
  color: #666;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  body {
    background: #fff;
  }
  thead {
    display: none;
  }
  br {
    display: none;
  }
  .wizard > .content > .body label {
    /* display: inline-block; */
    margin-bottom: 0.5em;
    position: relative;
    top: -13px;
    left: 25px;
  }
  .mi-quiz__question-container td {
    font-size: 16px;
  }

  .mi-quiz__question-container td {
    border: none;
  }
  .mi-quiz__question-container {
    border: none;
  }
  * {
    overflow: visible !important;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .col-lg-12 {
    /* position: relative; */
    /* width: 100%; */
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    width: 100vw;
    margin: 0;
  }
  .mi-quiz__question-container td {
    padding: 4px 17px;
  }

  .wizard > .actions > ul {
    position: fixed;
    bottom: 7px;
    right: -3px;
    top: 0;
  }

  .wizard > .content {
    margin: 0;
  }
  ul[role="menu"] {
    /*
    display: none !important;*/
    opacity: 0;
  }
  .visible {
    opacity: 100 !important;
  }
}
